.conteudo {
	margin-top: 40px;
}
.atençao {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
	color: white;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

.table {
	height: 120px;
	width: 400px;
	margin: 80px auto;
	padding-top: 30px;
	font-size: 25px;
	font-family: 'Karla', sans-serif;
	background: white;
}

tbody {
	background: black;
	color: white;
}

.td , .th{
	border:1px solid #ffffff;
}

main {
	font-size: 25px;
	font-family: 'Karla', sans-serif;
	width: 940px;
	margin: 80px auto;
}
form {
	margin-left: 20px;
}

input {
	font-size: 25px;
	margin: 10px 0px 20px 0px;
}

.inputpadrao {
	display: block;
	padding: 14px;
	margin-top: 10px;
}

label {
	display: block;
	color: white;
	margin-top: 30px;
}

.contato {
	margin-top: 40px;
	color: white;
}

.gostou { 
	margin-top: 20px 0px;
	color: white;
}

.enviar{
	margin-top: 40px;
	border-radius: 7px;
	color: black;
	padding: 10px;
	font-weight: bold;
	background: white;
	cursor: pointer;
	transition: 1s all;
}

.enviar:hover {
	background: #afafaf;
	transform: scale(0.9);
}


 .tempo {
 	margin: 20px;
 	display: block;
 	cursor: pointer;
 }
 select, option {
 	font-size: 30px;
 }

 .cep {
 	display: block;
 }
