.body {
	margin: 40px auto;
	width: 920px;
}

.beneficios-tudo {
	background-image: url('marcenaria-ferramentas.jpg');
	background-repeat: no-repeat;
	padding: 20px 40px;
	margin: 0px auto;
	border: 7px black solid;
}
 
 .beneficios li {
	font-family: 'Karla', sans-serif;
	color: black;
	font-size: 30px;
	margin-bottom: 6px;
	font-weight: bold;
}

.bene {
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 60px;
	font-family: 'Karla', sans-serif;
}

.texto {
	margin-top: 0px auto;
	background: black;
	font-size: 18px;
	color: white;
	width: 860px;
	padding: 30px 30px;
	font-family: 'Karla', sans-serif;
} 

