.links{
	margin-top: 20px;
	position: absolute;
}

li a {
	text-align: center;
	border-radius: 3px;
	display: block;
	padding: 50px 40px;
	background: #525252;
	margin: 20px 20px;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-transform: uppercase; 
	text-decoration: none;
}

.NossosMoveis {
	font-family: 'Karla', sans-serif;
	color: white;
	font-size: 60px;
	margin: 40px auto;
	background: black;
	border-radius: 15px;
	padding: 15px;
	text-align: center;
	width: 600px;
}


.body {
	margin-top: 40px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}


.texto {
	margin-top: 0px auto;
	background: black;
	font-size: 22px;
	color: white;
	width: 880px;
	padding: 30px 30px;
	font-family: 'Karla', sans-serif;
}

img .texto {
		margin-top: 10px auto;
}
