body {
	background: #6c6c6c;
}

html{
	margin: 0 auto;
}

header {
	background: black;
}

.caixa {
	width: 790px;
	margin: 0 auto;
}

.logo {
	margin: 15px 0px 0px 54px;
	height: 200px
}

.nome {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 93px 0px 40px 0px;
	color: white;
	font-size: 60px;
	font-family: 'Stick No Bills', sans-serif;
}

.links{
	position: absolute;
}

li a {
	text-align: center;
	border-radius: 3px;
	display: block;
	padding: 30px 50px;
	background: #525252;
	margin: 20px 20px;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-transform: uppercase; 
	text-decoration: none;

}

li a:hover {
	background: #696969;
	transform: scale(0.9);
}

footer {
	background: #000;
	width: 100%;
}

.roda {
	width: 580px;
	margin: 0 auto;

}

.logoroda {
	width: 200px;
}

.copy { 
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
	display: inline-block;
	color: white;
	font-size: 25px;
	font-family: 'Karla', sans-serif;
	text-align: center;
}

@media screen and (max-width: 920px) {
	.body , .texto , .moveis , .imagem-principal , .roda {
		width: auto;
	}

	.caixa{
		margin: : 0 auto;
		width: 290px;
	}

	.logoroda{
		margin: 10px 0px 10px 10px;
		width: 150px;
	}

	.copy{
		margin: 60px 0px;
		font-size: 20px;
	}

	.logo {
		margin: 0px;
		width: 130px;
		height: 130px;
	}

	.nome{
		font-size: 30px;
		margin: 40px 0px;
		position: absolute;
	}

	iframe{
		width: 0 auto;
	}

	.titulos{
		margin: 0px auto;
		font-size: 25px;
		width: 230px;
	}

	.links {
		position: static;
	}

	.bene{
		font-size: 40px;
		margin-bottom: 8px;
	}


}



