	/*css padão*/

body {
	background: #1D1D1D
}

html{
	margin: 0 auto;
}

header {
	background: black;
}

.caixa {
	width: 790px;
	margin: 0 auto;
}

.logo {
	margin: 15px 0px 0px 54px;
	height: 200px
}

.nome {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 93px 0px 40px 0px;
	color: white;
	font-size: 60px;
	font-family: 'Stick No Bills', sans-serif;
}

.titulos {
	font-family: 'Karla', sans-serif;
	color: white;
	font-size: 50px;
	margin: 60px auto;
	background: black;
	border: white 1px solid;
	padding: 15px;
	text-align: center;
	width: 550px;
}


.links{
	position: absolute;
}

li a {
	text-align: center;
	border-radius: 3px;
	display: block;
	padding: 30px 50px;
	background: #3d3d3d;
	margin: 20px 20px;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-transform: uppercase; 
	text-decoration: none;

}

li a:hover {
	background: #4d4d4d;
	transform: scale(0.9);
}

footer {
	background: #000;
	width: 100%;
}

.roda {
	width: 580px;
	margin: 0 auto;

}

.logoroda {
	width: 200px;
}

.copy { 
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
	display: inline-block;
	color: white;
	font-size: 25px;
	font-family: 'Karla', sans-serif;
	text-align: center;
}

	/*css padão*/

@media screen and (max-width: 920px) {

/*padão*/

	.body, .roda {
		width: auto;
	}

	.caixa{
		margin: 0 auto;
		width: 290px;
	}

	.logoroda{
		margin: 10px 0px 10px 10px;
		width: 150px;
	}

	.copy{
		margin: 60px 0px;
		font-size: 20px;
	}

	.logo {
		margin: 0px;
		width: 130px;
		height: 130px;
	}

	.nome{
		font-size: 30px;
		margin: 40px 0px;
		position: absolute;
	}

	iframe{
		width: 0 auto;
	}

	.titulos{
		margin: 15px auto;
		font-size: 25px;
		width: 230px;
	}

	.links {
		position: static;
	}

/*padão*/
/*index*/

	.texto {
		width: auto;
		margin: 0px 20px;
	}
	.moveis{
		width: auto;
	}

	.bene{
		font-size: 40px;
		margin-bottom: 13px;
	}

	.beneficios-tudo{
		width: auto;
		margin: 0px 20px;
	}
/*index*/
/*contato*/

	.atençao , .table , main{
		width: auto;
	}

	.atençao{
		font-size: 20px;
	}

	.inputpadrao{
		width: auto;
		padding: 5px;
	}

	input{
		font-size: 15px;
	}

	select{
		font-size: 15px;
	}

	.enviar{
		font-size: 25px;
		padding: 20px;
	}

/*contato*/
/*fotos*/

	.fotomovel{
		width: 97.8%;
		padding: 5px;
	}

	.todos{
		margin: 0px 5%;
		width: auto;
	}
}

/*fotos*/



